<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ library.title }} - Data Explorer</title>
    <link rel="icon" href="data:,">{# a fake empty favicon #}
    {% block style %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    {% block main %}
    {% endblock %}
    {% block script %}
    {% endblock %}

    {% if web_analytics and web_analytics.type == 'ga' and web_analytics.key %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ web_analytics.key }}"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', '{{ web_analytics.key }}');
    </script>
    {% endif %}

  </body>
</html>
